
body {
    background: red;
    text-align: center;
    margin-top: 50px;
}

input {
    border: 1px solid #4195fc; /* some kind of blue border */

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

}

#pic {
  width: 200px;
  height: auto;
}

#loader {
  width: 100px;
  height: 100px;
   margin: 40px auto;        
  position: relative;
}

#loader:before , #loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
#loader:after {
  box-shadow: 0 7px 0 #44D47C inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 33%;
  overflow-wrap: anywhere
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #44D47C;
  float: right;
  font-size: 32px;
  font-weight: bold;
  opacity: unset;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 15px 0 15px 0;
    row-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:20%;
  height: 12%;
  -webkit-box-shadow: 7px -5px 10px 0px #4b0082, 11px -9px 10px 0px #0000ff, 16px -14px 10px 0px #00ff00, 20px -17px 10px 0px #ffff00, 24px -19px 10px 0px #ff7f00, 27px -23px 10px 0px #ff0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 7px -5px 10px 0px #4b0082, 11px -9px 10px 0px #0000ff, 16px -14px 10px 0px #00ff00, 20px -17px 10px 0px #ffff00, 24px -19px 10px 0px #ff7f00, 27px -23px 10px 0px #ff0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 20px;
}
#loginBtn {
  align-items: center;
	border-color: var(#eee) var(#111) var(#111) var(#eee);
  background: #000;
  color: red;
	border-top-color: var(#111);
  border-left-color: var(#111);
  padding: 2px 4px 2px 2px;

  &:hover {
  background: #660;
  }
  
  &::before {
		background: #660000;
    content: "🎃";
    text-shadow: 0 0 4px black;
  }
}

